<div class="retro-box">
  <h2>🔠 Gerador ASCII</h2>

  <p>Digite seu texto:</p>
  <input id="ascii-input" type="text" maxlength="20" placeholder="Digite aqui..." />

  <br><br>

  <button onclick="gerarASCII()">Gerar</button>
  <button onclick="copiarASCII()">Copiar</button>

  <pre id="ascii-output"></pre>
</div>

<link rel="stylesheet" href="/ascii.css">
<script src="/ascii.js"></script>
